@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
:root {
    --color-primary: #272a2f;
    --color-accent: #f35833;
    --color-white: #fff;
    --color-gray: #868686;
    --grid-col-width: 101px;
    --grid-gap: 20px;
}
* {
    all: unset;
    display: revert;
}
body {
    font-family: 'Rubik', sans-serif;
    background-color: #ffffff;
    font-size: 22px;
    font-weight: 400;
}
.header {
    padding-top: 38px;
    padding-bottom: 150px;
}
.header-nav .navigation__link {
    color: var(--color-primary);
}
.header-nav .navigation__logo {
    grid-column: span 4;
    padding-right: 32px;
}
.navigation__logo {
}
.navigation__image {
    width: 100%;
}
.header-nav .navigation__list {
    grid-column: 5/-1;
}

.navigation__list {
    list-style: none;
    display: flex;
}
.navigation__item {
    margin-right: 60px;
}
.navigation__item:last-child {
    margin-right: 0;
}
.navigation__link {
    font-size: 24px;

    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
}
.header-nav .navigation__link--active,
.header-nav .navigation__link:hover {
    color: var(--color-accent);
}
/* main */
.articles {
    margin-bottom: 135px;
}

.articles__big-column {
    grid-column: span 9;
}
.articles__small-column {
    grid-column: 10/-1;
}
.main-article__image-container {
    position: relative;
    grid-column: span 3;
    max-height: 344px;
    min-height: 185px;
}
.main-article__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-article__content {
    grid-column: span 5;
    padding-right: 63px;
}

.article-category {
    font-size: 14px;
    line-height: 17px;
    color: var(--color-accent);
    text-transform: uppercase;
    font-weight: 700;
}
.article-date {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-accent);
    text-transform: uppercase;
}

.main--article__category {
    margin-bottom: 7px;
}
.main-article__tittle {
    font-size: 42px;
    line-height: 50px;
    color: var(--color-primary);
    font-weight: 700;
    margin-bottom: 34px;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.main--article__text {
    font-size: 22px;
    line-height: 26px;
    color: var(--color-primary);
    margin-bottom: 34px;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.article-source {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-gray);
    text-transform: uppercase;
}
.main-article {
    display: grid;
    grid-template-columns: repeat(9, var(--grid-col-width));
    gap: var(--grid-gap);
    margin-bottom: 95px;
}
.main-article {
}
.main-article:last-child {
    margin-bottom: 0;
}
.main-article__source {
}

.articles__small-column {
}
.articles-small {
    border-left: 9px solid var(--color-primary);
    padding-left: 11px;
    margin-bottom: 35px;
}
.articles-small :last-child {
    margin-bottom: 0;
}
.articles__small-tittle {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 14px;

    color: var(--color-primary);

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.articles-small__caption {
}
.articles-small__date {
}
.article-date {
}
.article-date + .article-source::before {
    content: '  ●  ';
}
.articles-small__source {
}
.article-source {
}

.footer {
    background-color: var(--color-primary);
    padding-top: 22px;
    padding-bottom: 26px;
}
.footer__nav {
    margin-bottom: 47px;
    align-items: center;
}
.footer__nav .navigation__logo {
    padding-right: 56px;
    grid-column: span 2;
}
.footer__nav .navigation__list {
    grid-column: 3/-1;
}
.footer__nav .navigation__link {
    color: var(--color-white);
}

.footer__column {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.footer__text {
    font-size: 24px;
    line-height: 28px;
    color: var(--color-white);
}
.footer__link {
    color: var(--color-accent);
    font-weight: 700;
    cursor: pointer;
}
.footer__link:hover {
    opacity: 0.8;
}
.footer__copy {
    font-size: 24px;
    line-height: 28px;

    color: var(--color-gray);
}
.footer__nav .navigation__link--active,
.footer__nav .navigation__link:hover {
    color: var(--color-accent);
}

/*  */
.grid {
    display: grid;
    grid-template-columns: repeat(12, var(--grid-col-width));
    gap: var(--grid-gap);
}
.container {
    max-width: 1435px;
    margin: 0 auto;
}
