.color-scheme-switcher {
  all: revert;
}
.color-scheme-switcher__value {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1 px solid var(--color-scheme-switcher-border);
  border-radius: 50%;
  background: var(--background-zero);
  cursor: pointer;
  color: var(--constant-accent);
}

.color-scheme-switcher__option {
  width: 200px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--foreground-primary);
  padding: 0 16px;
  cursor: pointer;
  box-sizing: border-box;
}

.color-scheme-switcher__option:hover .color-scheme-switcher__text {
  color: var(--constant-accent);
}

.color-scheme-switcher__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-left: 12px;
}
.color-scheme-switcher__check {
  margin-left: auto;
}
